# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# SET login IP  for wp-login.php
    <Files wp-login.php>
    Order deny,allow
    Deny from All
	# SET login IP Example : 127.0.0.1 or 127.0.
	Allow from 127.0.
    </Files>
# END SET login IP

# SET HTTP Status Messages: 301 Moved Permanently. 
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^www.old-example.org$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^www.new-example.org$ [NC,OR]
	RewriteRule ^(.*)$ www.new-example.org$1 [R=301,L]
# SET HTTP Status Messages: 301 Moved Permanently.