/* 模擬全域 blockquote 的效果，因為blockquote是全域，可能與現有 Framework(Bootstrap) 相衝突，因此CSS命名為.blockquote */
.blockquote {
	background: #eeeee6 none repeat scroll -8px 0;
	border: 1px solid #000000;
	margin:0px auto;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}


/* 自訂blockquote效果 */

/* Title-Box 適用於 [標題] 的blockquote效果，已設定好文字排版及文字顏色 */
.Title-Box {
	background: #eeeeee none repeat scroll -8px 0;
	border: 1px solid #000000;
	margin:0px auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #000080;
}


/* Alerts 警報 */

/* [安全] 綠色警報欄，class名稱：alert-success */
.alert-success {
	background: #dff0d8 none repeat scroll -8px 0;
	border: 1px solid #2b542c;
	margin:0px auto;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
/* [警告] 黃色警報欄，class名稱：alert-warning */
.alert-warning {
	background: #fcf8e3 none repeat scroll -8px 0;
	border: 1px solid #66512c;
	margin:0px auto;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
/* [危險] 紅色警報欄，class名稱：alert-warning */
.alert-danger {
	background: #f2dede none repeat scroll -8px 0;
	border: 1px solid #843534;
	margin:0px auto;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
/* [資訊] 新增任何公告的資訊面板，，class名稱：alert-info */
.alert-info {
	background: #d9edf7 none repeat scroll -8px 0;
	border: 1px solid #245269;
	margin:0px auto;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
